<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang = "pt-br"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:jsf="http://xmlns.jcp.org/jsf"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head jsf:id="head" jsfc="h:head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta name="viewport" content="width=device-width,
initial-scale=1.0,shrink-to-fit=no"/>

<link rel="stylesheet" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>

<link rel="stylesheet" href="webjars/font-awesome/5.12.0/css/all.css"/>

<script type="text/javascript" 
src="webjars/jquery/3.0.0/jquery.min.js"></script>

<script type="text/javascript" 
src="webjars/poppers.js/1.14.3/umd/popper.js"></script> 

<script type="text/javascript" 
src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<title>Livraria</title>
</head>
<body style="pading:2%; background-color:rgb(237, 237, 237);">
	
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-blue">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" 
  type="button" data-toggle="collapse"
   data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"  href="javascript:changeScreen(0);">Cadastro 
        <span class="sr-only">(current)</span></a>     
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="javascript:changeScreen(1);">Listagem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:changeScreen(2);">Sobre</a>
      </li>
    </ul>
  </div>
</nav>
	
  <div class="jumbotron">
  <h1 class="display-4">Livros S.A</h1>
  <p class="lead"></p>
  <hr class="my-4"/>
  <p>
  	<form jsf:id="frm" method="post" class="form-group" jsf:prependId="false">
  			
  			<h:messages id="mensagens" 
  			styleClass="alert alert-secondary text-primary col-sm-6
  			 font-weight-light text-uppercase "/>
  			
  			<div class="row">
	  		<label class="text-blue col-sm-1" for="frm_titulo">
	  		Título:</label>&#160;
	  		<input type="text" 
	  		jsf:id="frm_titulo" 
	  		jsf:value="#{BookMB.book.title}" 
	  		class="form-control col-sm-5"/>&#160;
  		  	</div>
  		  	
  		  	<div class="row">	
  			<label class="text-blue col-sm-1" for="frm_autor">
  			Autor:</label>&#160;
  			<input type="text" 
	  		jsf:id="frm_autor" 
	  		jsf:value="#{BookMB.book.author}" 
	  		class="form-control col-sm-5"/>
  			</div>
  			
  			<div class="row">	
  			<label class="text-blue col-sm-1" for="frm_autor">
  			Tipo:</label>&#160;
  			<input type="text" 
	  		jsf:id="frm_tipo" 
	  		jsf:value="#{BookMB.book.type}" 
	  		class="form-control col-sm-5"/>
  			</div>
  			
  			<div class="row">	
  			<label class="text-blue col-sm-1" for="frm_preco">
  			Preço:</label>&#160;
  			<input type="number" 
	  		jsf:id="frm_preco" step="0.01"
	  		jsf:value="#{BookMB.book.price}" 
	  		class="form-control col-sm-5"/>
  			</div>
  			
  			<div class="row">	
  			<label class="text-blue col-sm-1" for="frm_copias">
  			Cópias:</label>&#160;
  			<input type="number" 
	  		jsf:id="frm_copias" 
	  		jsf:value="#{BookMB.book.copies}" 
	  		class="form-control col-sm-5"/>
  			</div>
  			
  			<input type="hidden" jsf:id="frm_id" 
  			jsf:value="#{BookMB.book.id}"/>
  			
  			<hr class="my-4"/><br/>
  			<div class="row">
  				<button jsf:id="frm_salvar" 
  				class="col-sm-1 btn btn-primary"
  				jsf:action="#{BookMB.saveBook(BookMB.book)}">
  				Salvar
  				</button>&#160;&#160;
  				<button jsf:id="frm_limpar" 
  				class="col-sm-1 btn btn-secondary"
  				jsf:action="#{BookMB.clearFormData()}">
  				Limpar
  				</button>
  			</div>  			
  			
  	</form>
  	
  		<table class="table table-striped table-responsive"
  		 jsf:id="tbl" style="display:none;">
  		<thead class="thead-dark">
	  		<tr>
	  			<th>Nº Item</th>
	  			<th>Título</th>
	  			<th>Autor</th>
	  			<th>Tipo</th>
	  			<th>Preço</th>
	  			<th>Quantidade</th>
	  			<th colspam='2'>Operações</th>
	  			<th></th>
	  		</tr>
	  	</thead>
	  		
  		<ui:repeat 	
  		value="#{BookMB.books}"
  		rendered="#{not empty BookMB.books}"
  		var="book"
  		varStatus="status">
  			<tr>
  				<td>#{status.index+1}</td>
  				<td>#{book.title}</td>
  				<td>#{book.author}</td>
  				<td>#{book.type}</td>
  				<td>#{book.price}</td>
  				<td>#{book.copies}</td>
  				<td>
  					<form jsf:id="modal_frm_button_edit">
	  					<button jsf:id="tbl_editbutton" 
	  					class="btn btn-primary"
	  					jsfc="h:commandButton"
	  					jsf:action="#{BookMB.bookEdit}">  						   						
	  						<i class="fas fa-edit"></i>&#160;  		  										
	  						<f:setPropertyActionListener 
	  						value="#{book}" target="#{BookMB.book}"/>	  					  						
	  						Editar	  									
	  					</button>  						  					
  					</form>				
  				</td>
  				<td>
  					<form jsf:id="delete">
  					<a jsf:id="tbl_deletebutton" 
  					class="btn btn-danger text-white"
  					immediate="true" 
  					onclick="modalOpen('#delete#{status.index}')">						
  						<i class="fas fa-trash-alt"></i>&#160;
  						Deletar  						
  					</a>
  					</form>
  					<!-- modal exclusão -->
  					<form jsf:id="modal_delete" jsf:prependId="false">
				  	<div class="modal" tabindex="-1" role="dialog"
				  	 id="delete#{status.index}">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title">Confirmação</h5>
					        <button type="button" class="close" 
					        data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <p>
					        Tem certeza que deseja remover este livro?
					         #{book.title}
					         </p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary"
					        jsf:id="modal_delete_exclude_btn"
					        data-dismiss="modal"
					        jsf:actionListener="#{BookMB.deleteBook(book)}">
					        <f:ajax render="@all" 
					        execute="modal_delete_exclude-btn"
					        onclick="changeScreen(0);"/>
					        Sim
					        </button>
					        <button type="button" class="btn btn-secondary" 
					        data-dismiss="modal">
					        Não
					        </button>
					      </div>
					    </div>
					  </div>
				  	</div>  					
  					</form>
  				</td>
  			</tr>	
  		
  		</ui:repeat>
  	</table>
  	
  	
  	</p>   	
   
</div>
	<form jsf:id="about" jsf:prependId="false" style="display:none;">
	  	<div class="jumbotron" jsf:id="about_me">
	  		<h4>Cristiano Alexandre</h4>
	  		<h5><small>cristianoaf81@gmail.com</small></h5>
	  	</div>
	</form>


<!-- recursos extras! -->
<script type="text/javascript" src="res/js/HomeLayoutControl.js"></script>
<script type="text/javascript" src="res/js/HomeDeleteModalShow.js"></script>
<script type="text/javascript" src="res/js/HomeSearch.js"></script>
<link rel="stylesheet" href="res/css/utils.css"/>		
</body>
</html>